<a href="https://colab.research.google.com/github/dvalencia26/week-5-lab-Bonus-Points/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Introduction:
pandas is an open-source Python library that provides high-performance, easy-to-use data structures, and data analysis tools.
DataFrame: A 2-dimensional labeled data structure with columns that can be of different types. Think of it like a spreadsheet or SQL table.

#Important Concepts:
1. Creating a DataFrame:

In [ ]:
import pandas as pd

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': ['p', 'q', 'r']
}
df = pd.DataFrame(data)

2. Viewing Data:
Head: Returns the first n rows (default is 5).

In [ ]:
df.head(n=3)

3. Getting a column (returns a Series):

In [ ]:
column_A = df['A']

4. Getting multiple columns (returns a DataFrame):

In [ ]:
columns_A_B = df[['A', 'B']]

5. Getting a row by index (using iloc):

In [ ]:
row_0 = df.iloc[0]  # gets the first row

6. Getting multiple rows:

In [ ]:
rows_0_and_1 = df.iloc[0:2]  # gets the first two rows

Filtering data:

In [ ]:
filtered_df = df[df['B'] > 4]  # gets rows where column B has values greater than 4

 Descriptive statistics:

In [ ]:
stats = df.describe()

Dropping a column:

df.drop(columns=['C'], inplace=True)

Adding a new column:

In [ ]:
df['D'] = [7, 8, 9]

Renaming columns

In [ ]:
df.rename(columns={'D': 'E'}, inplace=True)

Filtering rows based on a column's condition:

In [ ]:
filtered_df = df[df['A'] > some_value]

Sort Values: Sorts the DataFrame based on one or more columns.

In [ ]:
sorted_df = df.sort_values(by='C')

Using multiple conditions:

In [ ]:
condition_df = df[(df['A'] > 2) & (df['B'] < 4)]

NameError: ignored

Merge: Combines DataFrames based on common columns.

Scenario: Imagine we have data about students and the courses they've taken. We want to merge the two datasets based on the student's ID and the course code.

Sample DataFrames:
DataFrame 1:

|StudentID|	CourseCode|	StudentName	|Age|
|---------|-----------|-------------|---|
|101|	MAT101|	Alice|	20|
|102|	PHY102|	Bob|	21|
|103|	CHE103|	Charlie|	19|
|104|	MAT101|	David|	22|

DataFrame 2: df2 (Course details)

|CourseCode|InstructorName|	Room|
|----------|--------------|-----|
|MAT101|	Mr. Smith|	101|
|PHY102|	Ms. Johnson|	102|
|CHE103|	Dr. Brown|	103|
|BIO104|	Mrs. Davis|	104|

In [ ]:
import pandas as pd

# Setting up df1
data1 = {
    'StudentID': [101, 102, 103, 104],
    'CourseCode': ['MAT101', 'PHY102', 'CHE103', 'MAT101'],
    'StudentName': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [20, 21, 19, 22]
}
df1 = pd.DataFrame(data1)

# Setting up df2
data2 = {
    'CourseCode': ['MAT101', 'PHY102', 'CHE103', 'BIO104'],
    'InstructorName': ['Mr. Smith', 'Ms. Johnson', 'Dr. Brown', 'Mrs. Davis'],
    'Room': [101, 102, 103, 104]
}
df2 = pd.DataFrame(data2)

# Merging the two DataFrames on 'StudentID' and 'CourseCode'
merged_df = pd.merge(df1, df2, on=['CourseCode', 'CourseCode'])
print (merged_df)